{$DOMAIN:localhost} {
	# Handle API requests
	handle_path /api/* {
		reverse_proxy localhost:8000
	}

	@notStatic not file {
		root {$WEBROOT:/var/www}/static
	}

	# Handle static files at the root and all other requests
	handle {
		root * {$WEBROOT:/var/www}/static
		file_server
		try_files {path} /index.html
		reverse_proxy @notStatic localhost:3000
	}

	# Enable compression
	encode gzip zstd

	# Log settings
	log {
		output file /var/log/caddy/oxytone.log {
			roll_size 10MB
			roll_keep 10
		}
	}
}
