[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
genanki = "*"
greek-accentuation = "*"
lxml = "*"
pyconll = "*"
pycts = "*"
python-box = "*"
python-slugify = "*"
jinja2 = "*"
sanic = "*"
cltk = "*"

[dev-packages]
ipykernel = "*"
tracerite = "*"
lxml-stubs = "*"
types-python-slugify = "*"
beautifulsoup4 = "*"
pytest = "*"
mypy = "*"
djlint = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.11"
