@reference '$/app.css';

section.genre {
	@apply mx-4 my-4 text-gray-800;
	@apply columns-1 gap-8 sm:columns-2 xl:columns-3;

	& h2 {
		@apply font-sc mb-2 border-b-1 border-gray-300 text-xl font-bold lowercase;
		column-span: all;
	}
	& ul.authors {
		& > li {
			@apply mb-2 break-inside-avoid;
		}

		& h3,
		details.author > summary {
			@apply font-sc text-lg leading-none font-medium lowercase;
		}

		& summary {
			@apply cursor-pointer;
			text-indent: 0.8rem hanging;
		}

		& details summary::marker {
			content: '+ ';
			@apply font-bold;
		}
		& details[open] summary::marker {
			content: '‒ ';
		}

		ul.works {
			@apply pl-1 font-serif text-sm;
			list-style: '‒  ' inside;
			& a {
				@apply text-blue-600 underline;
			}

			& li:has(details) {
				list-style: none;
			}

			& details.work {
				& summary {
				}

				& ol {
					@apply pl-2;
					list-style: '‒  ' inside;
				}
			}
		}
	}
}
