@reference '$/app.css';

section.century {
	@apply my-8 text-gray-800;
	&:first-of-type {
		@apply mt-0;
	}
	& h2 {
		@apply font-sc w-20 text-xl font-bold max-sm:mb-2 max-sm:ml-4;
		@apply sm:sticky sm:top-4 sm:float-left sm:-mt-[6px] sm:text-right;
	}
	& ul.authors {
		@apply relative rounded-sm border-1 border-gray-300 sm:ml-24;

		& details.author {
			:has(&) {
				pointer-events: none;
			}
			& > summary {
				@apply font-sc pointer-events-auto relative -z-10 border-t-1 border-gray-300 bg-gray-50 px-4 pb-1 text-lg leading-none font-medium lowercase;
			}
			li:first-of-type & > summary {
				@apply border-t-0;
			}
			&[open] > summary {
				@apply border-b-1;
			}
			& * {
				@apply pointer-events-auto;
			}
		}

		& summary {
			@apply cursor-pointer;
			text-indent: 0.8rem hanging;
		}

		& details[open] summary::marker {
			content: '‒ ';
		}
		& details:not([open]) summary::marker {
			content: '+ ';
		}

		ul.works {
			@apply gap-8 sm:columns-1 md:columns-2 lg:columns-3 xl:columns-4;
			@apply py-2 pl-4 font-serif text-sm;
			list-style: '‒  ' inside;
			& details:not([open]) summary::marker {
				content: '+  ';
			}
			& a {
				@apply text-blue-600;
			}

			& li:has(details) {
				list-style: none;
			}

			& details.work {
				@apply break-inside-avoid;
				& ol {
					@apply pl-2;
					list-style: '‒  ' inside;
				}
				& li {
					@apply capitalize;
				}
			}
		}
	}
}
