@use 'theme' as *;

header {
	img {
		filter: saturate(40%) hue-rotate(80deg) sepia(20%);
		@include box($mt: 4, $mb: 8);
	}

	.title {
		@include text($align: center);
		@include box($my: 12);

		h1 {
			@include text(stone(950), 4xl, widest, $transform: uppercase);
			@include font(display, 600);
		}
		p {
			@include text(stone(600), md, wider);
			@include font(sans, 600);
		}
	}
}

main {
	@include box($mb: 16);
}

section {
	@include font(sans, 400);
	@include box($w: 96, $mx: auto);
	@include box($py: 8);

	h2 {
		@include text(stone(950), 2xl, $track: widest, $align: center, $transform: lowercase);
		@include font(display, bold);
		@include box($mb: 6);
	}
	& + section {
		border-top: 1px stone(300) solid;
	}
	hr {
		border: 1px stone(300) solid;
		@include box($mx: 16, $my: 6);
	}
	.entries {
		@include flex-y(4);
	}
}

.entry {
	.top {
		@include flex-x(4, space-between);

		& .title {
			@include font($wght: bold);
		}
		& h3 {
			display: inline;
		}
		& .genre {
			@include font($style: italic);
			@include text(stone(600));
		}
	}
	& .chunks {
		@include box($mb: 2);
		@include font(sans);
		@include text(sky(700));
		@include layout(grid);
		column-gap: len(4);
		grid-template-columns: repeat(12, 1fr);
	}
}

footer {
	@include box($my: 16, $px: 32, $mx: auto);
	h2 {
		@include text(stone(800), xl, $track: widest, $align: center, $transform: lowercase);
		@include font(display, bold);
		@include box($mb: 2);
	}
	p {
		@include font(sans, $style: italic);
		@include text(stone(600), sm, $align: center);
	}
	a {
		@include text(slate(700));
		text-decoration: underline;
		text-decoration-thickness: 1px;
	}
}
