@use 'theme' as *;

header {
	img {
		filter: saturate(40%) hue-rotate(80deg) sepia(20%);
		@include box($mt: 4, $mb: 8);
	}

	.title {
		@include text($align: center);
		@include box($my: 12);

		h1 {
			@include text(stone(950), 4xl, widest, $transform: uppercase);
			@include font(display, 600);
		}
		p {
			@include text(stone(600), md, wider);
			@include font(sans, 600);
		}
	}
}

main {
	@include box($mb: 16);
}

section {
	@include font(sans, 400);
	@include box($w: 96, $mx: auto);
	@include box($py: 8);

	h2 {
		@include text($size: lg, $track: widest, $align: center);
		@include font(smallcaps, bold);
		@include box($mb: 2);
	}
	& + section {
		border-top: 1px stone(300) solid;
	}
}

hr {
	border: 1px stone(300) solid;
	@include box($mx: 16, $my: 6);
}

.entries {
	@include flex-y(4);
}

.entry {
	@include flex-x(4, space-between);
	& .title {
		@include font($wght: bold);
	}
	& .original-title {
		@include text(stone(600));
		@include font(serif, bold);
	}
	& select.nav {
		// @include layout(inline-block);
		@include surface($border: gray(500), $rounded: md);
		@include box($px: 4);
	}
}
