@use 'theme' as *;

nav {
	@include box($pl: 8, $my: 4);
	@include font(sans, bold);
	@include text(stone(500));
}

header {
	@include box($pl: 8, $mb: 8);
	h1 {
		@include font(sans, bold);
		@include text(stone(900), $size: xl, $track: wide);
	}
	#author {
		@include font(sans, bold);
		@include text(stone(800), $size: md, $transform: uppercase);
	}
	#chunk-title {
		@include font(sans, bold);
		@include text(stone(700), $size: sm);
	}
}

.bottom-bar {
	@include inset($b: 0, $x: 0);
	@include box($h: 12);
	@include surface(stone(100));
	@extend .main-grid;
	border-top: 2px solid stone(200);
	& #center {
		@include box($pr: 8);
		@include flex-x(4, space-between);
		@extend .grid-center;
	}

	.help {
		@include box($px: 8, $py: 1);
		line-height: 1;
		& #lemma {
			display: inline-block;
			@include box($pr: 1);
			@include text(stone(700), md);
			@include font($wght: bold);
		}
		& #flags {
			@include font($style: italic);
			@include text(stone(500), xs);
		}
		& #def {
			@include font(sans);
			@include text(stone(600), sm);
		}
	}

	.selected-words {
		@include media(sm) {
			display: none;
		}
		@include flex-x(4, flex-end, baseline);
		& #selected-count {
			@include font(sans);
			@include text(stone(700), $size: sm);
		}
		& button#export {
			@include font(sans, bold);
			@include text($size: sm);
			@include box($px: 2, $py: 1, $my: 2);
			@include surface(stone(300), 2px stone(400) solid, $rounded: md);
			&:disabled {
				@include text(stone(500));
				border: 2px transparent solid;
			}
		}
	}
}

article {
	@include text(stone(700));
	@include font(serif);
	@include box($pb: 20);
	@include media(sm) {
		@include text($size: sm);
		line-height: 1.7;
	}

	> .prose {
		@include box($px: 8);
	}

	.sentence {
		display: inline;
		@include box($pr: 1);
	}

	.ref {
		display: inline-block;
		@include box($pr: 1);
		@include text(stone(500), sm);
		@include font(sans);
	}
	.punct + .ref,
	.ref:first-child {
		@include box($pl: 1);
	}

	[data-id] {
		cursor: pointer;
		&.verb {
			@include font($wght: 700);
		}
		&.nominative {
			@include text(emerald(600));
		}
		&.accusative {
			@include text(sky(600));
		}
		&.dative {
			@include text(pink(600));
		}
		&.genitive {
			@include text(violet(600));
		}
		&.vocative {
			@include text(yellow(600));
		}

		&.hl {
			@include surface($rounded: md);
			&.subj {
				@include surface(emerald(100));
			}
			&.dobj {
				@include surface(sky(100));
			}
			&.iobj {
				@include surface(pink(100));
			}
		}
		&.hovered,
		&.selected {
			text-decoration: underline;
		}

		&.head {
			text-decoration: underline;
		}
	}

	.subdoc {
		padding-right: len(2);
	}

	.ln {
		display: inline-block;
		@include text(transparent, xs, $align: right);
		@include font(sans);
		@include box($w: 8, $pr: 4);
		@include media(sm) {
			@include box($pr: 2);
		}
		&.visible {
			color: gray(400);
		}
	}
	&.selection .ln {
		visibility: hidden;
	}

	&#eutyphro {
		.sentence + .sentence::after {
			content: '—';
			display: inline-block;
			@include box($px: 2);
			@include text(stone(300));
		}
	}
}
