@use "foundation" as *;

h1 {
	@include text($size: xl, $track: wide);
	@include box($pl: 8, $my: 8);
}

.bottom-bar {
	@include inset($b: 0, $x: 0);
	@include box($h: 12);
	@include surface(stone(100));
	border-top: 2px solid stone(200);
}

.tippy-content {
	@include text(teal(50), sm);
	@include box($px: 2, $py: 2);
	@include surface(teal(700), $border: teal(700), $rounded: sm, $shadow: xl);

	& .lemma {
		@include text(teal(50), md);
		@include font($wght: bold);
	}
	& .def {
		@include text(teal(100), sm);
	}
	& .flags {
		@include text(teal(100), xs);
	}
}
.tippy-arrow {
	color: teal(700);
}

.verb {
	@include font($wght: 700);
}

.nominative {
	@include text(emerald(600));
}

.accusative {
	@include text(sky(600));
}

.dative {
	@include text(pink(600));
}

.genitive {
	@include text(violet(600));
}

.vocative {
	@include text(yellow(600));
}

.hl {
	text-decoration: underline;
	@include surface($rounded: md);
	&.subj {
		@include surface(emerald(100));
		text-decoration-color: emerald(600);
	}
	&.dobj {
		@include surface(sky(100));
		text-decoration-color: sky(600);
	}
	&.iobj {
		text-decoration-color: pink(600);
	}
}
.hovered {
	text-decoration: underline;
}

.subdoc {
	padding-right: len(2);
}

.verse {
	padding-right: len(2);
	@include text(gray(500), sm);
}

.ln {
	display: inline-block;
	text-align: right;
	padding-right: len(2);
	width: len(8);
	color: transparent;
}

.ln.visible {
	color: gray(600);
}

// .sentence:not(:last-child)::after {
//     content: "—";
//     @include box($px: 2);
//     @include text(gray(500));
// }
