@use 'theme' as *;
@use 'components';
@use './bars';
@use './token';

html {
	scroll-behavior: smooth;
}

header {
	@include box($pl: 8, $mt: 4, $mb: 6);
	line-height: 1;
	#author {
		@include font(sans);
		@include text(stone(900), $size: sm, $track: wider, $transform: uppercase);
	}
	h1 {
		@include font(sans, bold);
		@include text(stone(900), $size: xl, $track: wide);
		@include box($mb: 2);
	}
	#chunk-title {
		@include font(sans, bold);
		@include text(stone(600), $size: sm);
	}
}

article {
	@include text(stone(700));
	@include font(serif);
	@include box($pb: 20);
	@include media(sm) {
		@include text($size: sm);
		line-height: 1.7;
	}

	> .prose {
		@include box($px: 8);
		@include media(sm) {
			@include box($px: 1);
		}

		h2 {
			@include box($px: 0);
		}
	}

	h2 {
		@include font(sans, bold);
		@include box($px: 8, $mt: 4);
	}

	.sentence:not(:has(.ln:only-child)) {
		@include box($pr: 1);
		&::after {
			content: '—';
			display: inline-block;
			@include box($px: 2);
			@include text(stone(300));
		}
	}

	.ref {
		display: inline-block;
		@include box($pr: 1);
		@include text(stone(500), sm);
		@include font(sans);
	}

	.punct + .ref,
	.ref:first-child {
		@include box($pl: 1);
	}

	.subdoc {
		padding-right: len(2);
	}

	.ln {
		display: inline-block;
		@include text(transparent, xs, $align: right);
		@include font(sans);
		@include box($w: 8, $pr: 4);
		@include media(sm) {
			@include box($pr: 2);
		}
		&.visible {
			color: gray(400);
		}
		&:hover,
		&:target {
			color: sky(700);
			cursor: none;
		}
	}
	&.selection .ln {
		visibility: hidden;
	}
}
