<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description"
              content="Bionically-augmented reader for Ancient Greek">
        <meta name="keywords"
              content="ancient greek, treebank, iliad, odyssey, homer">
        <title>
            {% block title %}
                {{ title }}
            {% endblock title %}
        </title>
        <link rel="stylesheet" href="{{ url_for('assets', filename='/base.css') }}" />
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        {% block body_start %}
        {% endblock body_start %}
        <nav>
        </nav>
        <main>
            {% block content required %}
            {% endblock content %}
        </main>
    </body>
</html>
