{% extends "base.html" %}
{% import "_entry.html" as entry %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('assets', filename='/index.css') }}" />
{% endblock head %}
{% block content %}
    <header>
        <div class="title">
            <h1>Oxytone</h1>
            <p>The Cutting Edge of Ancient Language</p>
        </div>
    </header>
    <img src="{{ url_for('assets', filename='/greek_heroes@0.5x.webp') }}"
         class="heroes"
         alt=""
         width="1489"
         height="749" />
    {% for author in authors %}
        <section id="{{ author.slug }}">
            <h2>{{ author.name }}</h2>
            <div class="entries">
                {% for doc in author.corpus.values() %}{{ entry.entry(doc) }}{% endfor %}
            </div>
        </section>
    {% endfor %}
    <footer>
        <h2>About</h2>
        <p>
            The source code for Oxytone is available on <a href="https://github.com/Vincent-Carrier/oxytone">GitHub</a>. It uses data <a href="https://perseusdl.github.io/treebank_data/">from the PerseusDL project</a>.
        </p>
    </footer>
{% endblock content %}
