{% extends "base.html" %}
{% block title %}
    {{ title }}
    {% if chunk_title %}
        - {{ chunk_title }}
    {% else %}
    {% endif %}
{% endblock title %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('assets', filename='/reader.css') }}" />
    <script src="{{ url_for('assets', filename='/reader.js') }}" type="module"></script>
{% endblock head %}
{% block body_start %}
    <div class="top-bar">
        <div class="center">
            <nav>
                <a class="button ghost"
                   id="back"
                   href="{{ url_for("index.get_index") }}">
                    {% include "icons/heroicons:arrow-long-left-16-solid.svg" %}
                    <span class="label">Go Back</span>
                </a>
            </nav>
            <div class="flashcards">
                <button id="export" disabled>
                    {% include "icons/heroicons:arrow-down-circle.svg" %}
                    <label>Flashcards</label>
                    <span id="selected-count" />
                </button>
            </div>
            <button id="memorize">
                {% include "icons/heroicons:academic-cap.svg" %}
                <label>Memorize</label>
            </button>
        </div>
    </div>
    <div class="bottom-bar">
        <div class="center">
            <div class="help">
                <span id="lemma"></span>
                <span id="flags"></span>
                <div id="def"></div>
            </div>
        </div>
    </div>
{% endblock body_start %}
{% block content %}
    <header>
        <p id="author">{{ author }}</p>
        <h1>
            <span id="title">{{ title }}</span> &nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;&nbsp; {{ original_title
            }}
        </h1>
        {% if chunk_title %}<p id="chunk-title">{{ chunk_title }}</p>{% endif %}
    </header>
    <article class="treebank" id="{{ slug }}">{{ body|safe }}</article>
{% endblock content %}
