{% import "_top_bar.html" as topbar %}
{% extends "base.html" %}
{% block title %}
    {% if title %}
        {{ title }}
        {{ "- %s" % chunk_title if chunk_title }}
    {% else %}
        Oxytone
    {% endif %}
{% endblock title %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('assets', filename='/reader.css') }}" />
    <script src="{{ url_for('assets', filename='/reader.min.js') }}"
            type="module"></script>
{% endblock head %}
{% block body_start %}
    {% call topbar.render() %}
        <button is="flashcards-btn">
            {% include "icons/heroicons:arrow-down-circle.svg" %}
            <label>Flashcards</label>
            <span id="selected-count" />
        </button>
        <button is="memorize-btn">
            {% include "icons/heroicons:academic-cap.svg" %}
            <label>Memorize</label>
        </button>
    {% endcall %}
    {% include "_bottom_bar.html" %}
{% endblock body_start %}
{% block content %}
    {% if title %}
        <header>
            <p id="author">{{ author }}</p>
            <h1>
                <span id="title">{{ title }}</span> &nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;&nbsp; {{ original_title
                }}
            </h1>
            {% if chunk_title %}<p id="chunk-title">{{ chunk_title }}</p>{% endif %}
        </header>
    {% endif %}
    <article class="treebank" id="{{ slug }}">{{ body|safe }}</article>
{% endblock content %}
