{% extends "base.html" %}
{% block title %}
    {{ title }}
    {{ "- %s" % chunk_title if chunk_title }}
{% endblock title %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('assets', filename='/reader.css') }}" />
    <script src="{{ url_for('assets', filename='/reader.min.js') }}"
            type="module"></script>
{% endblock head %}
{% block body_start %}
    {% include "_toolbars.html" %}
{% endblock body_start %}
{% block content %}
    <header>
        <p id="author">{{ author }}</p>
        <h1>
            <span id="title">{{ title }}</span> &nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;&nbsp; {{ original_title
            }}
        </h1>
        {% if chunk_title %}<p id="chunk-title">{{ chunk_title }}</p>{% endif %}
    </header>
    <article class="treebank" id="{{ slug }}">{{ body|safe }}</article>
{% endblock content %}
