@import 'tailwindcss' source('.');
@plugin "@iconify/tailwind4" {
	prefix: 'i';
	prefixes: solar;
}

@theme {
	--font-serif: 'Alegreya', serif;
	--font-sans: 'Alegreya Sans', system-ui, sans-serif;
	--font-sc: 'Alegreya SC', serif;
	--font-sans-sc: 'Alegreya Sans SC', system-ui, sans-serif;
}

@utility list-dash {
	list-style: '‒  ' inside;
}
@utility indent-hanging {
	text-indent: 0.75rem hanging;
}

@utility card {
	@apply rounded-sm border-1 border-gray-300 bg-gray-50;
}

@layer base {
	:root {
		font-size: 125%;
		@apply text-gray-800;
	}
}

@layer components {
	.btn {
		@apply font-sans-sc cursor-pointer leading-tight text-blue-700 lowercase;
		@apply rounded-sm border-1 border-blue-700 px-1 hover:bg-blue-50 active:bg-blue-100;
		@apply flex items-center gap-x-1;
		& span {
			@apply mt-px;
		}
		&.danger {
			@apply border-red-700 text-red-700 hover:bg-red-50 active:bg-red-100;
		}
		&[inert] {
			@apply border-gray-600 text-gray-600;
		}
		&.ghost {
			@apply border-transparent;
		}
	}
}
