@import 'tailwindcss' source('.');

@theme {
	--font-serif: 'Alegreya', serif;
	--font-sans: 'Alegreya Sans', system-ui, sans-serif;
	--font-sc: 'Alegreya SC', serif;
	--font-sans-sc: 'Alegreya Sans SC', system-ui, sans-serif;
}

@layer base {
	:root {
		font-size: 125%;
	}
}

@layer components {
	.btn {
		@apply font-sans-sc cursor-pointer rounded-sm px-1 leading-tight text-blue-700 lowercase outline-1 outline-blue-700 hover:bg-blue-50 active:bg-blue-100;
		&.ghost {
			@apply outline-none;
		}
		&.danger {
			@apply text-red-700 outline-red-700 hover:bg-red-50 active:bg-red-100;
		}
	}
}
