@reference '../../../app.css';

.sentence-nbr {
	@apply mr-1 ml-3 inline-block font-sans text-sm text-gray-400 select-none;
	&::before {
		content: '[';
	}
	&::after {
		content: ']';
	}
}

.line-nbr {
	@apply mr-2 inline-block w-10 pr-1 text-right font-sans text-sm text-gray-400 select-none;

	&[n$='0'] {
		@apply bg-gray-100 text-gray-600;
	}
}

article {
	scroll-snap-type: y proximity;
}
.speaker {
	@apply font-sc sticky top-0 mt-2 bg-white pl-12 text-sm text-gray-400 lowercase underline;
	scroll-snap-align: start;
}

dl {
	@apply relative;

	& .meanings {
		@apply flex flex-col gap-y-1;
	}

	& dt {
		@apply sticky top-0 mb-2 block border-b-1 border-gray-300 bg-gray-50 font-bold;
	}

	& dd {
		@apply text-gray-600;
		&:not(.shortdef) {
			@apply pl-4;
			&::before {
				content: '‒';
				@apply mr-2 -ml-4;
			}
		}
		&.shortdef {
			@apply font-bold text-gray-800;
		}

		& .lemma-ref {
			@apply cursor-pointer text-blue-700 underline;
		}

		& strong {
			@apply text-gray-800;
		}
	}
}

blockquote {
	& .line-nbr {
		@apply mr-6;
	}
	& .line {
		& :not(.line-nbr) {
			@apply italic;
		}

		&:first-of-type ox-w:first-of-type {
			@apply relative;
			&::before {
				@apply absolute -bottom-1 -left-3 text-2xl !font-normal text-gray-500;
				content: '“';
			}
		}

		&:last-of-type ox-w:last-of-type {
			@apply relative;
			&::after {
				@apply absolute -right-3 -bottom-1 text-2xl !font-normal text-gray-500;
				content: '”';
			}
		}
	}
}

hr {
	@apply my-4 ml-20 w-48 border-gray-300;
	&:first-child {
		@apply hidden;
	}
}

ox-w {
	@apply cursor-pointer text-gray-700;

	&.head {
		@apply underline;
	}

	&[selected] {
		@apply bg-gray-100 outline -outline-offset-1 outline-gray-200;
	}

	&[pos='verb'] {
		@apply font-bold;
	}

	&[case='nom.'] {
		@apply text-emerald-700;
	}
	&.sbj.dep {
		@apply bg-emerald-50;
	}

	&[case='acc.'] {
		@apply text-sky-700;
	}
	&.acc-obj.dep {
		@apply bg-sky-50;
	}

	&[case='dat.'] {
		@apply text-yellow-700;
	}
	&.dat-obj.dep {
		@apply bg-yellow-50;
	}

	&[case='gen.'] {
		@apply text-purple-700;
	}
	&.gen-obj.dep {
		@apply bg-purple-50;
	}

	&[case='voc.'] {
		@apply text-pink-700;
	}
}
