@reference '$/app.css';

.treebank > hgroup {
	@apply font-sc mb-4 ml-14 text-balance lowercase;
	& h1 {
		@apply text-2xl text-gray-800 underline;
	}
	& .author {
		@apply text-gray-800;
	}
}

.treebank.dialogue,
.treebank.prose {
	& > .body {
		@apply ml-14 text-justify;
	}
}

section {
	@apply mb-8;
}
/* p:not(p:has(.sentence:nth-of-type(4))) {
	@apply inline;
} */

.dialogue p {
	@apply mb-2;
}

.body {
	@apply relative z-10;
	.theater &,
	.verse & {
		@apply max-w-fit;
	}
}

.chapter-nbr,
.section-nbr,
.line-nbr,
.sentence-nbr,
.stephanus-nbr {
	@apply font-sans text-sm select-none;
	&:target {
		@apply border-blue-500 bg-blue-50 text-blue-500;
	}
}
.section-nbr {
	@apply mr-2 inline-block border-r-1 border-gray-200 px-1 text-gray-400;
}
.chapter-nbr {
	@apply sticky top-0 z-50 float-left mt-1 -ml-14 w-10 pr-1 text-right text-gray-400;
	&:target {
		@apply border-r-1 border-blue-500;
	}
}

.sentence-nbr {
	&:not([id$='0'], [id$='5']),
	section & {
		@apply hidden;
	}
}

.line-nbr {
	@apply mr-4 inline-block w-10 border-r-1 border-transparent pt-1 pr-1 text-right text-gray-300;
}

.line {
	text-indent: 3.5rem hanging;
	@apply leading-snug;
}

.speaker {
	@apply font-sc sticky leading-none text-gray-500 lowercase;
	.theater & {
		@apply -top-4 mt-4 bg-white;
		@apply border-b-1 border-gray-300;
		& .short {
			@apply hidden;
		}
	}
	.dialogue & {
		@apply top-0 float-left mt-1 -ml-12 w-7 bg-gray-50 uppercase;
		& .short::after {
			content: '.';
		}
		& .long {
			@apply absolute inset-0 hidden w-fit cursor-none bg-white text-gray-700 outline-1 outline-gray-600 group-hover:block;
		}
	}
}

.treebank.verse,
.treebank.theater {
	& .speaker {
		@apply ml-14;
	}
}

blockquote {
	@apply my-2;
	& .line-nbr {
		@apply mr-6;
	}
	& .line {
		& :not(.line-nbr) {
			@apply italic;
		}
		&:first-of-type ox-w:first-of-type {
			@apply relative;
			&::before {
				@apply absolute -left-4 text-2xl !font-normal text-gray-300;
				content: '“';
			}
		}
		&:last-of-type ox-w:last-of-type {
			@apply relative;
			&::after {
				@apply absolute -right-3 text-2xl !font-normal text-gray-300;
				content: '”';
			}
		}
	}
}

hr {
	@apply mx-8 my-4 w-48 border-gray-300;
	.body :first-child & {
		@apply hidden;
	}
}

.stephanus-nbr,
.sentence-nbr {
	@apply float-right -mr-12 block p-1 text-gray-400;
	&:target {
		@apply outline-1;
	}
}
