@use 'zephyr' as *
	with(
		$font-families: (
			display: "'Cormorant SC', serif",
			sans: "'Alegreya Sans', sans-serif",
			serif: "'Alegreya', serif",
		)
	);
@forward 'zephyr';

.main-grid {
	display: grid;
	grid-template-columns: 1fr min(65ch, 95vw) 1fr;
}

.full-bleed {
	width: 100%;
	grid-column: 1 / -1;
}

.grid-center {
	grid-column: 2;
}

.grow {
	flex-grow: 1;
}

@mixin highlight($color) {
	@include surface($color);
	box-shadow: 0 0 0 2px $color;
}
