{% macro entry(doc) %}
    <div class="entry">
        <h3 class="title">
            {% if doc.chunks %}
                {{ doc.title }}
            {% else %}
                <a href="/read/{{ doc.slug }}">{{ doc.title }}</a>
            {% endif %}
        </h3>
        <p class="original-title">{{ doc.original_title }}</p>
        {% if doc.chunks %}
            <select class="nav" onchange="location.href = this.value">
                <option selected value="#">...</option>
                {% for chunk in doc.chunks %}
                    <option value="{{ url_for('read.get_chunk', slug=doc.slug, chunk=chunk) }}">{{ chunk }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
{% endmacro %}
