{% macro entry(doc) %}
    <div class="entry">
        <h3 class="title">
            {% if doc.spans %}
                {{ doc.title }}
            {% else %}
                <a href="/read/{{ doc.slug }}">{{ doc.title }}</a>
            {% endif %}
        </h3>
        <p class="original-title">{{ doc.original_title }}</p>
        {% if doc.spans %}
            <select class="nav" onchange="location.href = this.value">
                <option selected value="#">...</option>
                {% for span in doc.spans %}
                    <option value="{{ url_for('read.get_chunk', slug=doc.slug, span=span) }}">{{ doc.get_book(span) }}</option>
                {% endfor %}
            </select>
        {% endif %}
    </div>
{% endmacro %}
