{% macro entry(doc) %}
    <div class="entry">
        <h3 class="title">
            {% if doc.chunks %}
                {{ doc.title }}
            {% else %}
                <a href="/read/{{ doc.slug }}">{{ doc.title }}</a>
            {% endif %}
            &nbsp;&nbsp;/&nbsp;&nbsp;
            <span class="original-title">{{ doc.original_title }}</span>
        </h3>
        {% if doc.chunks %}
            <select class="nav" onchange="location.href = this.value">
                <option selected value="#">...</option>
                {% for chunk in doc.chunks %}
                    <option value="{{ url_for('read.get_chunk', slug=doc.slug, chunk=chunk) }}">{{ chunk }}</option>
                {% endfor %}
            </select>
        {% else %}
            <div class="completeness">Complete Work</div>
        {% endif %}
    </div>
{% endmacro %}
