{% extends "base.html" %}
{% import '_entry.html' as entries %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='/index.css') }}" />
{% endblock head %}
{% block content %}
    <header>
        <div class="title">
            <h1>Oxytone</h1>
            <p>The Bleeding Edge of Ancient Language</p>
        </div>
    </header>
    <img src="/greek_heroes.webp" class="heroes" alt="" width="" height="" />
    {% for author in authors %}
        <section id="{{ author.slug }}">
            <h2>{{ author.name }}</h2>
            <div class="entries">
                {% for doc in author.corpus.values() %}{{ entries.entry(doc) }}{% endfor %}
            </div>
        </section>
    {% endfor %}
    <footer>
        <h2>About</h2>
        <p>
            The source code for Oxytone is available on <a href="https://github.com/Vincent-Carrier/pyrrho">GitHub</a>. It uses data <a href="https://perseusdl.github.io/treebank_data/">from the PerseusDL project</a>. It can also generate flashcards for use with the <a href="https://apps.ankiweb.net/">Anki</a> software.
        </p>
        <p>
            Oxytone uses color-coding to represent various aspects of Ancient Greek grammar:
            <div class="legend">
                <div class="cases">
                    <div class="nominative">Nominative</div>
                    <div class="accusative">Accusative</div>
                    <div class="dative">Dative</div>
                    <div class="genitive">Genitive</div>
                    <div class="vocative">Vocative</div>
                </div>
                <div class="roles">
                    <div class="verb">Verb</div>
                    <div class="subj">Subject</div>
                    <div class="dobj">Object</div>
                </div>
            </div>
        </p>
    </footer>
{% endblock content %}
