{% extends "base.html" %}
{% import '_entry.html' as entries %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='/index.css') }}" />
    <script src="/index.js" type="module"></script>
{% endblock head %}
{% block content %}
    <header>
        <img src="/greek_heroes.webp" alt="" />
        <div class="title">
            <h1>Oxytone</h1>
            <p>The Bleeding Edge of Ancient Language</p>
        </div>
    </header>
    {% for author in authors %}
        <section id="{{ author.slug }}">
            <h2>{{ author.name }}</h2>
            <div class="entries">
                {% for doc in author.corpus.values() %}{{ entries.entry(doc) }}{% endfor %}
            </div>
        </section>
    {% endfor %}
{% endblock content %}
