{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='/reader.css') }}" />
    <script src="{{ url_for('static', filename='/reader.js') }}" type="module"></script>
{% endblock head %}
{% block body_start %}
    <div class="bottom-bar">
        <div id="center">
            <div class="help">
                <span id="lemma"></span>
                <span id="flags"></span>
                <div id="def"></div>
            </div>
            <div class="selected-words">
                <div id="selected-count"></div>
                <button id="export" disabled>Export</button>
            </div>
        </div>
    </div>
{% endblock body_start %}
{% block content %}
    <header>
        <h1>
            <span id="title">{{ title }}</span> &nbsp;&nbsp;&nbsp;—&nbsp;&nbsp;&nbsp; {{ original_title }}
        </h1>
        <p>{{ author }}</p>
    </header>
    <article class="treebank">{{ body }}</article>
{% endblock content %}
